.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-background-width:.4px .4px .2px .4px;
}
.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-background-width:.2px .4px .4px .4px;
}
.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #22bcdd,#3c7797);

}
.nav_btn{
        -fx-background-color: transparent;
        -fx-cursor:hand;
        -fx-font-family:"Arial";
        -fx-font-size:15px;
        -fx-text-fill:#fff;
        -fx-allignment:CENTER-LEFT;
}